@using ChessMates.Models
@model ChessMates.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <table class="table table-bordered table-hover" style="background:aliceblue; width:60%">
        <tr>
            <td rowspan="8"><img src=@Model.image style="max-height:200px" /></td>
            <td>@Html.DisplayFor(model => model.fideid)</td>
            <td>@Html.DisplayFor(model => model.name)</td>
        </tr>
        <tr>
            <td>Federation</td>
            <td>@Html.DisplayFor(model => model.country)</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@Html.DisplayFor(model => model.title)</td>
        </tr>
        <tr>
            <td>Standard Rating</td>
            <td>@Html.DisplayFor(model => model.rating)</td>
        </tr>
        <tr>
            <td>Blitz Rating</td>
            <td>@Html.DisplayFor(model => model.blitz_rating)</td>
        </tr>
        <tr>
            <td>Rapid Rating</td>
            <td>@Html.DisplayFor(model => model.rapid_rating)</td>
        </tr>
        <tr>
            <td>Birthyear</td>
            <td>@Html.DisplayFor(model => model.birthyear)</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>@Html.DisplayFor(model => model.sex)</td>
        </tr>
    </table>
</div>
<p>
    @if (User.IsInRole(RoleName.Admin))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.fideid });
        //"|"
    }
    @Html.ActionLink("Back to List", "Index")
</p>
